<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.TipoItemMapper">
  <select id="consultarTipoItem" resultMap="TipoItemResult">
    select
    c.nombre as nombre,
    c.documento as documento,
    c.telefono as telefono,
    c.direccion as direccion,
    c.email as email,
    c.vetado as vetado,
    ir.id as id,
    ir.fechainiciorenta as fechainiciorenta,
    ir.fechafinrenta as fechafinrenta,
    i.id as iid,
    i.nombre as inombre,
    i.descripcion as idescripcion,
    i.fechalanzamiento as fechalanzamiento,
    i.tarifaxdia as tarifaxdia,
    i.formatorenta as formatorenta,
    i.genero as genero,        
    ti.id as tid,
    ti.descripcion as tdescripcion 
    FROM VI_CLIENTES as c 
    left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento 
    left join VI_ITEMS as i on ir.ITEMS_id=i.id 
    left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id
  </select>
  <resultMap id="TipoItemResult" type="TipoItem">
    <id property="id" column="ti_id"/>
    <result property="descripcion" column="ti_descripcion"/>
  </resultMap>     
</mapper>